src/test/resources/IsReductionOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule Anypoint Template

    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

-->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:sobject.enterprise.soap.sforce.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IsReductionOrder" type="xs:string"/>
  <xs:element name="TotalAmount" type="xs:float"/>
  <xs:element name="Id" type="xs:string"/>
  <xs:element name="IsDeleted" type="xs:string"/>
  <xs:element name="CreatedDate" type="xs:dateTime"/>
  <xs:element name="CreatedById" type="xs:string"/>
  <xs:element name="OrderNumber" type="xs:byte"/>
  <xs:element name="AccountId" type="xs:string"/>
  <xs:element name="BillingCity" type="xs:string"/>
  <xs:element name="LastViewedDate" type="xs:dateTime"/>
  <xs:element name="Status" type="xs:string"/>
  <xs:element name="ActivatedDate" type="xs:dateTime"/>
  <xs:element name="BillingStreet" type="xs:string"/>
  <xs:element name="TotalAmount__c" type="xs:float"/>
  <xs:element name="ContractId" type="xs:string"/>
  <xs:element name="ShippingStreet" type="xs:string"/>
  <xs:element name="LastModifiedById" type="xs:string"/>
  <xs:element name="LastReferencedDate" type="xs:dateTime"/>
  <xs:element name="ShippingCountry" type="xs:string"/>
  <xs:element name="Description" type="xs:string"/>
  <xs:element name="BillingCountry" type="xs:string"/>
  <xs:element name="ShippingCity" type="xs:string"/>
  <xs:element name="SystemModstamp" type="xs:dateTime"/>
  <xs:element name="BillingState" type="xs:string"/>
  <xs:element name="Pricebook2Id" type="xs:string"/>
  <xs:element name="ShippingState" type="xs:string"/>
  <xs:element name="LastModifiedDate" type="xs:dateTime"/>
  <xs:element name="EffectiveDate" type="xs:date"/>
  <xs:element name="SiebelOrder__c" type="xs:string"/>
  <xs:element name="StatusCode" type="xs:string"/>
</xs:schema>